.card_Poke {
  display: grid;
  margin-top: 4rem;
  margin-left: 3rem;
  position: relative;
}
.card_Poke:hover {
  transition: 0.4s ease;
  transform: scale(1.03);
}

.body_Poke {
  margin: 20px;
  width: 18rem;
  background-color: grey;
  background-size: cover;
  border: 1px solid black;
  border-radius: 2rem;
  padding: 10px;
}
.img_Poke {
  display: block;
  width: 15rem;
  height: 15rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin: auto;
  border: 1px solid black;
  box-shadow: 5px 5px 25px #222 inset;
  border-radius: 5px;
  background-color: white;
}
.nombre_Poke {
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 5px;
}
.link_Poke {
  text-decoration: none;
  font-weight: bold;
  color: rgb(85, 22, 22);
  margin-left: 6.5rem;
  margin-top: 2rem;
}
.link_Poke:hover {
  background-color: rgb(26, 15, 15);
  border-radius: 2px;
  padding: 3px;
}

.tipos_Poke {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.tipos_nombre {
  display: flex;
  justify-content: space-around;
}
